@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./normalize.css');
@import url('./reset.css');
/* 숨김 콘텐츠 */
legend, .a11y-hidden{
  background: pink;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}
/* 기본 스타일 */
html{
  font-size: 10px;
}
body{
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  background: #fff;
  color: #181818;
}
/* 공통 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 공통 검색 폼 */
input[type="search"]{
  border: 1px solid #666;
  border-radius: 5px;
  padding: 5px 10px;
  height: 30px;
}
.search-form label, input[type="search"], .btn-search{
  vertical-align: middle;
}
/* 모바일 레이아웃 */
@media screen and (min-width: 320px) and (max-width: 999px){
  .header{
    background: #38302e;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1em;
  }
  .logo, .member, .search-form{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* 모바일 로고 */
  .logo{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  /* 모바일 멤버링크 */
  .member{
    background: #988574;
    order: -1;
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .member a{
    display: block;
    padding: 5px 2px;
    margin-left: 1em;
  }
  /* 모바일 검색 폼 */
  input[type="search"]{
    width: calc(100% - 35px);
  }
  .btn-search{
    background: transparent url('./images/btn_search.png') no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
  }
}
/* 데스크탑 레이아웃 */
@media screen and (min-width: 1000px){
  /* 데스크탑 레이아웃 */
  .header, .menu{
    width: 1000px;
    margin: 0 auto;
  }
  /* 데스크탑 헤더 */
  .header {
    position: relative;
    padding-bottom: 1em;
  }
  /* 데스크탑 로고 */
  .logo{
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -29px;
  }
  .logo img{
    vertical-align: top;
  }
  /* 데스크탑 멤버링크 */
  .member{
    font-size: 0;
    text-align: right;
    padding: 2px 0;
    margin-right: -1.4rem;
  }
  .member li, .member a{
    display: inline-block;
  }
  .member li{
    font-size: 1.4rem;
  }
  .member li:nth-child(n+2)::before{
    content: '|';
   }
  .member a{
    padding: 0.5em 1em;
  }
  /* 데스크탑 검색 폼 */
  .search-form{
    text-align: right;
  }
  input[type="search"]{
    width: 400px;
  }
  .btn-search{
    padding: 5px 10px;
    border: 1px solid #666;
    background: #988574;
    border-radius: 5px;
    color: #fff;
    height: 30px;
  }
  .btn-search::before{
    content: '검색';
  }
  /* 데스크탑 메인메뉴 */
  .btn-menubar{
    display: none;
  }
  .navigation{
    background: #988574;
  }
  .menu{
    background: orange;
  }
}